main {
  max-width: 700px;
  margin: 0 auto;
  padding: 16px;
}



.entry {
  background: rgb(238, 229, 187);
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
}

.entry-name {
  font-weight: 600;
  margin: 6px;
}

.entry-message {
  margin: 0;
  line-height: 1.4;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

#form label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: 500;
}

#form input {
  padding: 12px;
  border: 1px solid #414504;
  border-radius: 8px;
  font-size: 16px;
}

#form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-family: arial;
}


